[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2022.12.7"
charset-normalizer = "==2.0.12"
click = "==8.0.4"
dataclasses = "==0.8"
flask = "==2.0.3"
flask-marshmallow = "==0.14.0"
flask-sqlalchemy = "==2.5.1"
greenlet = "==2.0.2"
idna = "==3.4"
importlib-metadata = "==4.8.3"
itsdangerous = "==2.0.1"
jinja2 = "==3.0.3"
markupsafe = "==2.0.1"
marshmallow = "==3.14.1"
requests = "==2.27.1"
six = "==1.16.0"
sqlalchemy = "==1.4.46"
typing-extensions = "==4.1.1"
urllib3 = "==1.26.14"
werkzeug = "==2.0.3"
zipp = "==3.6.0"

[dev-packages]

[requires]
python_version = "3.10"
